#All
CMakeSettings.json
*.user
*.autosave
*.obj
*.filters
*.vs
*.sln
*.vcxproj


# Client
/IPZ_Client/build_release/*
!/IPZ_Client/build_release/*.exe
/IPZ_Client/build_debug/*
!/IPZ_Client/build_debug/*.exe
!/IPZ_Client/assets/meshes/*.obj

#Server
/IPZ_Server/build_release/*
!/IPZ_Server/build_release/*.exe
/IPZ_Server/build_debug/*
!/IPZ_Server/build_debug/*.exe
