#All
CMakeSettings.json
*.user
*.autosave
*.obj
*.filters
*.sln
*.vcxproj
*.vs
!/assets/shaders/*.vs


# Client
/build_release/*
!/build_release/*.exe
/build_debug/*
!/build_debug/*.exe
!/assets/meshes/*.obj
