#All
CMakeSettings.json
*.user
*.autosave
*.obj
*.filters
*.sln
*.vcxproj
*.vs
!/assets/shaders/*.vs


# Client
/build_release/*
!/build_release/*.exe
!/build_release/*.dll
/build_debug/*
!/build_debug/*.exe
!/build_debug/*.dll
!/assets/meshes/*.obj
*.lib
.vscode/tasks.json
.vscode/settings.json
.vscode/c_cpp_properties.json
